* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    border: 2px solid black;
    width: 80vw;
    height: 300px;
}